/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #efefef;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

.logout {
  position: fixed;
  top:0;
  height: 50px;
  width:100%;
  background-color:#4DEB17;
}

.spinner {
  height:200px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn {
  margin-top: 7px;
  margin-right: 5px;
  background-color: #2B830D;
  border: #20620A;
  float: right;
  color: CCCCCC;
}

.btn:hover {
  background-color: #808080;
  border: #808080;
}

.content {
  padding-top:60px;
}

.me {
  text-align: center;
  display: flex;
  justify-content: center;
  background: #fff;
}


.person {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.figure img {
  text-align: center;
}

.card {
    padding: 13px 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 8px #aaa;
}

.me .car li {
  text-align: center;
}

.card li {
  text-align: left;
}

.friends h1 {
  padding: 10px 20px;
}

h3 {
  text-align: center;
  width: 100%;
}

ul {
  list-style-type: none;
}

.nofriend {
  filter: opacity(0.5);
}

a {
  color: #0C830C;
}
.card figure {
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.card figure img {
  width: auto;
  height: 140px;
}

.card__name {
  font-size: 41.887px;
}

.card__gamertag {
  font-size: 25.888px;
}

.card__gamerscore {
  font-size: 16px;
}

.card__url {
  font-size: 16px;
}