<!-- {{friends}} -->

<nav class="logout">
<button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>
</nav>

<div class="spinner" ng-show ="spin">
	<i class="fa fa-spinner fa-spin"></i> Loading
</div>

<div class="content" ng-show ="content">
<!-- 	<h1> <i class="fa fa-user"></i> Me</h1>
 -->	<div class="me">
		<ul class="card">
			<figure><image src={{user.picture.data.url}}></figure>
			<li class="card__name">{{user.name}}</li>
			<li class="card__gamertag"><i class="fa fa-tag"></i> <strong>Gamertag</strong>: {{user.gamertag}}</li>
			<li class="card__gamerscore"><i class="fa fa-bar-chart-o"></i> <strong>Gamer Score</strong>: {{user.gamerScore}}</li>
		</ul>
	</div>
	<div class="friends">
		<h1><i class="fa fa-users"></i> Friends</h1>
		<div id="friend" class="person" >
			<ul ng-repeat="friend in friends" class="card" ng-class="friend.status">
				<figure><image src={{friend.picture.data.url}}></figure>

				<li class="card__name">{{friend.name}} </li>
				<li class="card__gamertag"> <i class="fa fa-tag"></i> {{friend.gamertag}}</li>
				<li class="card__gamerscore"><i class="fa fa-bar-chart-o"></i> {{friend.gamerScore}}</li>
				<a class="card__url" href="https://account.xbox.com/en-us/profile?gamerTag={{friend.gamertag}}" target="_blank"> Xbox Live Page </a>
			</ul>
		</div>
	</div>
</div>